# ─── Firebase (Web SDK — PUBLIC) ──────────────────────────────────────────────
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCC0dITneKxNrGUp5rNrZ1N7grmGfhm910
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=corujinha-dev.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=corujinha-dev
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=corujinha-dev.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=530621431941
NEXT_PUBLIC_FIREBASE_APP_ID=1:530621431941:web:cd1f35f8532457a053a9ec
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YV2FB7FFFM

# ─── App ──────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_CHILD_APP_URL=http://localhost:3002
NEXT_PUBLIC_ENV=development

# ─── Gemini AI ──────────────────────────────────────────────────────────────
NEXT_PUBLIC_GEMINI_API_KEY=sua_chave_aqui
